
body {
background-image: url('img/nature.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505960;
}

body {
    background-image: url('img/nature.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.offset:before{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}

/*-----Navigation css----*/
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgb(0, 0, 0)!important;
}
.navbar-brand img{
    height: 3rem;
}

.navbar-nav li{
    padding-right: 0.7rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #0fc727;
}
.home-inner{
    background-image: url(img/home.jpg);
}


.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 47%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}
.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 0.1rem;
}
.caption h3{
    font-size: 2rem;
    padding-bottom: 0.1rem;
    text-shadow: .1rem .1rem .5rem black;
}
.btn-lg{
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}
/*--end of navigation---*/
/*--start of registration--*/
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  .login,
  .image {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  
  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .form-label-group>label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }
/*--end of registration--*/

/*---Start of products---*/

h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}
h2 b {
	color: #ffc000;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .item .btn {
	color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
	color: #fff;
	background: #08911a;
	border-color: #118621;
	box-shadow: none;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel .carousel-control {
	height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: #0b861b;
}

.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 15px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #49910a;
	font-size: 110%;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.left i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #393cec;
}
/*---End of products section---*/

.narrow{
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}
.narrow h1{
    font-size: 2.4rem;
}
.btn-secondary{
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
    margin: 1rem;
    color: white;
    background-color: #0fc727;
    border-color: #0fc727;
}
.btn-secondary:hover{
    background-color: #118621;
    border-color: #118621;
}
.jumbotron{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}
h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
}
.heading-underline{
    width: 3rem;
    height: .2rem;
    background-color: #0fc727;
    margin: 0 auto 2rem;
}
.feature svg.svg-inline--fa{
    color:#14aa28;
}
.feature h3{
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}
.feature p{
    font-size: 1.1rem;
}
/*---resourses section--*/
.fixed{
    background-image: url("img/apple.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
  }
.dark{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 7rem 2 rem;
}
.fixed-background h3{
    margin-bottom: 2rem;
}
.fixed-background p{
    margin-top: 1.5rem;
}
 

/*--clients section--*/
.clients img{
    width: 100%;
    border-radius: 50%;
}
blockquote .svg-inline--fa{
    color: #1ebba3;
    margin: 1rem;
}
.clients-hr{
    border-top: 0.05rem solid #1ebba3;
}
/*---contact section---*/
footer{
    background-color: #000;
    color: white;
    padding: 2rem 0rem 2rem;
    margin-top: 1rem;
}
footer img{
    height: 4rem;
    margin: 2rem 0;
}
footer a{
    color: white;
    padding-left: 0.5rem;
}
footer svg.svg-inline--fa{
    font-size: 1.6rem;
    margin: 1.2 rem .7rem 0.2 0.1;

}
footer svg.svg-inline--fa:hover{
    color: #0fc727!important;
}
hr.socket{
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem;
}


/*---Media queries---*/
@media (max-width:767px){
    .caption h1{
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: 0.5rem;
    }
    .caption h3{
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .btn-lg{
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
    .narrow h1{
        font-size: 1.5rem;
    }
    .clients img{
        max-width: 50%;
        display: block;
        margin: 0 auto;
    }
}